{# -*- coding: utf-8 -*- #}
{{name}}(dataset={{ step_task.dataset|tojson }}, episode_id={{ step_task.episode_id|tojson }}, step_id={{ step_task.step_id|tojson }}, instruction={{ step_task.instruction|tojson }}, low_instruction={{ step_task.low_instruction|tojson }}, ..., answer={{ step_task.answer|tojson }}, evaluation={{ evaluation }})