已知用户在界面<image>，提出了要求
""{{task}}"
Action History: "{{history}}""
你认为合理的单步操作是什么？除了函数调用之外，你不能输出任何其他内容。你可以调用以下函数来控制智能手机：
UI基础操作：
1.tap(x,y) 该函数用于在智能手机屏幕上点击特定点，坐标 x 和 y 表示待点击控件中心位置。
2.scroll(x,y,direction) 该函数用于从起始坐标 (x,y) 开始在智能手机屏幕上滑动操作，direction为手指滑动的方向，可以是 "up"、"down"、"left" 或 "right"。
3.text(x,y,text_input) 该函数用于在智能手机屏幕上输入指定的文本text_input。坐标 x 和 y 表示待点击控件的中心位置。
手机按键操作：
4. navigate_back() 该函数用于返回智能手机的上一个屏幕。
5. navigate_home() 该函数用于返回手机的home screen。
其他操作：
6. long_press(x,y) 该函数用于在智能手机屏幕上的特定点执行长按操作。坐标 x 和 y 表示待点击控件的中心位置。
7. wait() 该函数表示在当前页面等候。
8. enter() 该函数表示按下enter键。
9. take_over(message) 该函数用于提示用户接管智能手机，其中 message 是提示用户接管手机的原因。如果原因不确定，请填写“请您接管当前界面”。
10. drag(x1,y1,x2,y2) 该函数执行一个对起始和终点敏感的拖动操作，表示手指从点(x1,y1)拖到点(x2,y2)。常见的场景包括滑块拖动、滚动选择器拖动和图片裁剪。
11. screen_shot() 该函数用于截图。
12. long_screen_shot() 该函数用于长截图。
13. call_api(api_name,operation) 对指定的APP进行操作。api_name是API的名称。operation可以选择open或者kill。例如，call_api(Amazon, open)意味着打开亚马逊APP。
如果你发现当前指令无法在当前页面上执行，你需要输出no_answer()。如果你发现当前指令已完成，你需要输出action_completed()。